@charset "utf-8";
/* CSS Document */
*{padding:0;margin:0;}
img{border:none;}
li,ul,ol{list-style:none;}
a{text-decoration:none;font-size:12px;color:#333;font-family:"Microsoft Yahei";}
body{font-size:12px;font-family:"Microsoft Yahei";}
span{font-size:12px;font-family:"Microsoft Yahei";}
p{font-size:14px;font-family:"Microsoft Yahei";}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:16px;}
.clear{height:auto;overflow:hidden;zoom:1;}
.fr{float:right;}
.fl{float:left;}
.contents{width:1000px;margin:0 auto;}
a:hover{text-decoration:underline;color:#FF0000;}

.top-line{height:40px;line-height:40px;border-top:solid 2px #213f85;border-bottom:1px solid #CCC;background:#f7f7f7;color:#333;}
.top-line .row_l a{padding:0 5px;}
.top-line input[type="text"]{height:20px;line-height:20px;width:150px;border:solid 1px #afc5e0;margin:0 5px 0 0;margin-top:10px;}
.top-line select{border:none;border:solid 1px #afc5e0;height:22px;width:60px;margin-top:10px;}
.top-line input[type="button"]{height:22px;width:44px;border:none;background:#3e7cc0;color:#FFF;border-radius:0 3px 3px 0;margin-top:10px;}
.top-line .row_r a{display:block;width:60px;height:40px;color:#3e7cc0;text-align:center;margin-right:10px;}
.top-line .row_r a:hover{background:#e5e4e4;border-left:1px solid #c2d4e8;border-right:1px solid #c2d4e8;text-decoration:none;}

.main .top-nav{padding:20px 0;}
.main .top-nav ul{height:72px;}
.main .top-nav li{line-height:24px;width:142px;float:left;border-left:1px solid #f1e5c5;}
.main .top-nav li:nth-child(7n) h3{font-weight:normal;}
.main .top-nav li h3{display:inline-block;font-weight:bold;}
.main .top-nav li a{padding-left:17px;}
.main .top-nav li:nth-child(15) h3+a{padding-left:11px;}
.main .top-nav li:nth-child(15) h3+a+a{padding-left:11px;}
.main .top-nav li:nth-child(17) h3+a{padding-left:11px;}
.main .top-nav li:nth-child(17) h3+a+a{padding-left:11px;}
.main .top-nav li:nth-child(21) h3+a{padding-left:11px;}
.main .top-nav li:nth-child(21) h3+a+a{padding-left:7px;}

.ad-top{border:1px solid #ccc;width:998px;padding:8px 0;}
.ad-top a{padding-left:12px;line-height:24px;color:#666;width:130px;display:inline-block;font-family:"SimSun"}
.ad-top img{padding:10px 0;}
.ad-top a:hover{color:#CC0000;}

.nav .tit{padding:15px 0 0 0;line-height:36px;height:36px;}
.nav .tit_l{height:36px;}
.nav .tit h1{display:inline-block;width:208px;height:36px;background:url(../images/logo_icon_07.gif) no-repeat 10px center;text-indent:-999px;}
.nav .tit_l>a{font-size:16px;color:#990000;padding:0 10px 0 4px;}
.nav .tit img{padding:8px 0 0 0;}
.nav .tit .moreshow{position:relative;}
.nav .tit .moreshow .kndlist{position:absolute;width:120px;height:150px;background:#FFF;top:28px;left:-39px;z-index:9999px;text-align:center;border:solid 1px #ccc;box-shadow:4px 4px 4px rgba(0,0,0,0.5);display:none;}
.nav .tit .moreshow ul a{border-bottom:dotted 1px #ccc;}
.nav .tit .moreshow>a{width:42px;height:16px;border:solid 1px #999;display:block;margin-top:10px;line-height:16px;text-align:center;border-radius:3px;background-color:#f0f0f0;}
.nav .tit .moreshow>a:hover{text-decoration:none;color:#3e7cc0;background:#e6f6fe;border:solid 1px #3e7cc0;}
.nav .tit_r a{display:inline-block;padding:0 0 0 15px;margin-left:10px;}
.nav .tit_r a:nth-of-type(1){background:url(../images/logo_icon_16.png) no-repeat left center;}
.nav .tit_r a:nth-of-type(2){background:url(../images/logo_icon_13.png) no-repeat left center;}
.nav>ul{width:1000px;height:50px;background:url(../images/navbg_03.gif) repeat-x center center;}
.nav>ul li{padding:0 5px;float:left;text-align:center;}
.nav>ul li:nth-child(4),.nav li:nth-child(9),.nav li:nth-child(14){background:url(../images/navbg_06.gif) no-repeat right center;}
.nav>ul li:nth-child(13){padding:0 0;}
.nav>ul li:nth-child(13) a{width:50px;}
.nav>ul li a{color:#FFF;font-size:14px;width:40px;display:block;height:46px;line-height:46px;font-weight:bold;}
.nav>ul li a:hover{background:#800000;text-decoration:none;}

.topnews{padding:15px 0;}

.topnews .c_l{width:340px;}

.topnews .c_l .row1{height:324px;border-top:solid 2px #000;padding-bottom:15px;}
.navtabs{height:36px;border-bottom:1px solid #ccc;}
.navtabs li{float:left;width:68px;height:36px;line-height:36px;text-align:center;background:#f5f5f5;border-bottom:1px solid #ccc;}/*第一排灰色背景导航样式选项卡*/
.navtabs li a{font-size:16px;display:block;border-right:solid 1px #d6d6d6;}/*第一排灰色背景导航样式选项卡*/
.navtabs li:nth-child(5) a{border-right:none;}/*第一排灰色背景导航样式选项卡*/
.navtabs li a:hover{background:#FFF;color:#800000;border-top:solid 1px #fff;}/*第一排灰色背景导航样式选项卡*/
.navhover{background:#FFF;color:#800000;border-top:solid 1px #fff;}
.topnews .c_l .row1 .pic{padding:10px 0 0 0;}
.topnews .c_l .row1 .pic p{height:34px;background:#666;line-height:34px;text-align:center;}
.topnews .c_l .row1 .pic p a{font-size:16px;color:#FFF;}
.topnews .c_l .row2{height:340px;border-top:solid 2px #000;padding-bottom:15px;}
.itemtit{height:36px;line-height:36px;background:#f5f5f5;color:#CC0000;border-bottom:1px solid #ccc;}/*第一排灰色背景导航样式无选项卡*/
.tithover{padding:0 20px;display:inline-block;background:#FFF;height:36px;border-right:solid 1px #d6d6d6;font-size:16px;border-top:solid 1px #fff;}/*第一排灰色背景导航样式无选项卡*/
.tithover:hover{color:#800000;}/*第一排灰色背景导航样式选项卡*/
.titmore{color:#999;font-family: "SimSun";}
.titmore:hover{color:#999;}
.itemtit span{font-size:16px;}

.topnews .c_l .row2 .row2_news{padding:10px 0 0 0;width:340px;}
.topnews .c_l .row2 .row2_news>a{position:relative;}/*播放图案样式*/
.topnews .c_l .row2 .row2_news .fr{width:160px;line-height:28px;}
.topnews .c_l .row2 .row2_news .fr h5 a{font-size:14px;color:#CC0000;}
.topnews .c_l .row2 .row2_news .fr p a{font-size:14px;font-family: "SimSun";}
.topnews .c_l .row2 .row2_news span{width:34px;height:34px;background:#000;filter:alpha(opacity=50);position:absolute;bottom:0;left:0;display:block;}/*播放图案样式*/
.topnews .c_l .row2 .row2_news span:before{content:"";width:20px;height:20px;border:2px solid #b9b9b9;border-radius:100%;background:url(../images/play_11.png) no-repeat 8px center #2b2f32;position:absolute;bottom:5px;left:5px;}/*播放图案样式*/
.topnews .c_l .row2 .row2_news>a:hover span:before{border-color:#fff;}/*播放图案样式*/

.topnews .c_l .row3{border-top:solid 2px #000;}
.topnews .c_l .row3_news{width:340px;}
.picnews{margin:10px 0 0 0;display:block;position:relative;}/*小图片蒙版样式*/
.picnewsmb{position:absolute;bottom:0;left:0;height:20px;background:#000;filter:alpha(opacity=90);display:block;width:100%;color:#ccc;text-align:center;line-height:20px;}/*小图片蒙版样式*/
.picnews:hover .picnewsmb{color:#FAFAFA;text-decoration:none;}/*小图片蒙版样式*/

.topnews .c_m{width:360px;padding:0 0 0 20px;}
.topnews .c_m a{color:#1f3b7b;font-size:14px;font-family: "SimSun";}
.topnews .c_m a:hover{color:#800000;}
.topnews .c_m .titm{height:36px;line-height:36px;border-bottom:solid 1px #d6d6d6;border-top:solid 2px #990000;}
.topnews .c_m .titm h4 a{font-size:18px;color:#990000;font-family:"Microsoft Yahei";}
.topnews .c_m .row1 h5 a{font-size:18px;text-align:center;line-height:34px;font-family:"Microsoft Yahei";}
.topnews .c_m .row1 h5:nth-of-type(2) a{width:360px;display:block;} 
.topnews .c_m .row1 h5:nth-of-type(3) a{width:360px;display:block;} 
.topnews .c_m .row1 h5:nth-of-type(4) a{width:360px;display:block;} 
.topnews .c_m .row1 h5:nth-of-type(5) a{width:360px;display:block;} 
.topnews .c_m .row1 p a{color:#333;font-size:12px;line-height:34px;}
.topnews .c_m .row1{;padding:5px 0;border-bottom:solid 1px #d6d6d6;}
.topnews .c_m .row2 ul{padding:10px 0;line-height:32px;border-bottom:1px dotted #CCC;}
.topnews .c_m .row2 ul li:nth-child(1) a{font-weight:bold;font-family:"Microsoft Yahei";}
.topnews .c_m .row2 ul li{padding:0 0 0 14px;background:url(../images/liicon_03.png) no-repeat left center;}
.topnews .c_m .row2 ul:last-child{border-bottom:none;}
.xcimg{display:inline-block;padding:0 0 0 20px;background:url(../images/spicon_03.png) no-repeat 2px center;}

.topnews .c_r{width:260px;border-top:solid 2px #000;}
.topnews .c_r .navtabs{background:#f5f5f5;}
.topnews .c_r .navtabs li{width:90px;}
.topnews .c_r .row1 p{width:120px;display:inline-block;line-height:22px;padding:10px 10px 0 0;font-size:12px;color:#999;font-family: "SimSun";}
.topnews .c_r .row1 h4>a{font-size:16px;line-height:36px;color:#800000;}
.topnews .c_r .row1 h5 a{line-height:28px;font-size:14px;}
.topnews .c_r .row1 h4 span a{display:inline-block;width:26px;height:26px;border:solid 1px #ccc;line-height:26px;margin-top:5px;text-align:center;font-size:18px;font-weight:bold;color:#800000}
.part1,.part2,.part3{padding:0 0 15px 0;border-bottom:1px solid #ccc;}
.topnews .c_r .row1 li{line-height:26px;padding:0 0 0 14px;background:url(../images/liicon_03.png) no-repeat left center;}/*li前面的点*/
.topnews .c_r .row1 ul{padding:5px 0;}
.topnews .c_r .row1 h4 span a:hover{text-decoration:none;}
.topnews .c_r .row1 h4 span .shifthover{color:#ccc;text-decoration:none;cursor:default;}
.topnews .c_r .row1 h4 span .shifthover2{color:#ccc;text-decoration:none;cursor:default;}
.topnews .c_r .row2{padding:15px 0 0 0;}

.topsp{border-top:solid 2px #000;padding:0 0 15px 0;}
.topsp .tit{height:50px;}
.topsp h4 a{line-height:50px;font-size:22px;}
.topsp li a{height:105px;position:relative;display:block;width:220px;}
.topsp li a span{width:40px;height:40px;background:#000;filter:alpha(opacity=50);position:absolute;bottom:0;left:0;display:block;}
.topsp li a span:before{content:"";width:24px;height:24px;border:2px solid #b9b9b9;border-radius:100%;background:url(../images/play_11.png) no-repeat 10px center #2b2f32;position:absolute;bottom:5px;left:5px;}
.topsp li a:hover span:before{border-color:#fff;}
.topsp li a:hover+p{text-decoration:underline;color:#FF0000;}

.box{ width:980px; margin:0 auto; position:relative; overflow:hidden; _height:100%;}
.picbox{ width:980px; height:130px; overflow:hidden; position:relative;}
.piclist{ height:130px;position:absolute; left:0px; top:0px}
.piclist li{ margin-right:20px; padding:5px; float:left;}
.swaplist{ position:absolute; left:-3000px; top:0px}
.og_prev,.og_next{ width:30px; height:50px; background:url(../images/icon.png) no-repeat; background:url(../images/icon_ie6.png) no-repeat\9; position:absolute; top:33px; z-index:99; cursor:pointer;filter:alpha(opacity=70); opacity:0.7;}
.og_prev{ background-position:0 -60px; left:4px;}
.og_next{ background-position:0 0; right:4px;}
.swaplist{ position:absolute;left:-3000px;top:0px;}

.news2th{padding:0 0 15px 0;}
.news2th .r_l{width:340px;}
.news2th .r_l .row1 a:hover{color:#800000;}
.news2th .r_l .row1{border-top:solid 2px #000;height:376px;}
.news2th .r_l .row1 .row1_news p{width:184px;height:91px;display:inline-block;padding:5px 0 0 10px;font-size:12px;background:#f2f2f2;line-height:22px;font-family: "SimSun";color:#666;}
.news2th .r_l .row1 .row1_news h5 a{line-height:38px;font-size:14px;font-weight:bold;}
.news2th .r_l .row1 .row1_news ul li a{padding:0 0 0 14px;background:url(../images/liicon_03.png) no-repeat left center;line-height:26px;font-family: "SimSun";}
.news2th .r_l .row1 .row1_news ul{padding:15px 0;}
.news2th .r_l .row2 .navtabs{background:#f5f5f5;}
.news2th .r_l .row2{border-top:solid 2px #000;}
.news2th .r_l .row2 .textnews li{line-height:25px;padding:0 0 0 14px;background:url(../images/liicon_03.png) no-repeat left center;}
.news2th .r_l .row2 .textnews ul{padding:10px 0 0 0;}

.news2th .r_m a{color:#264794;}
.news2th .r_m a:hover{color:#800000;}
.news2th .r_m{width:360px;padding:0 0 0 20px;}
.news2th .r_m .row1{border-top:solid 2px #000;height:376px;}
.news2th .r_m .navtabs2 li{width:90px;}
.news2th .r_m .row1news li{line-height:25px;padding:0 0 0 14px;}
.news2th .r_m .row1news li a{font-size:14px;font-family: "SimSun"}
.news2th .r_m .row1news{padding:10px 0;}
.high{background:url(../images/liicon_03.png) no-repeat left center;}
.high a{font-weight:bold;font-family:"Microsoft Yahei";}

.navtabs2{border-bottom:1px solid #ccc;height:36px;}
.navtabs2 li{float:left;height:36px;line-height:36px;text-align:center;}/*第一排白色背景导航样式*/
.navtabs2 li a{font-size:16px;display:block;border-right:solid 1px #d6d6d6;font-weight:bold;background:#fff;}/*第一排白色背景导航样式*/
.navtabs2 li:nth-child(5) a{border-right:none;}/*第一排白色背景导航样式*/
.navtabs2 li a:hover{border-top:1px solid #fff;color:#800000;}/*第一排白色背景导航样式*/
.news2th .r_m .row1 .hovernav{color:#800000;border-top:1px solid #fff;}
.navtabs3{border-bottom:1px solid #ccc;height:36px;}
.navtabs3 li{float:left;height:36px;line-height:36px;text-align:center;}/*第一排白色背景导航样式*/
.navtabs3 li a{font-size:16px;display:block;font-weight:bold;background:#fff;}/*第一排白色背景导航样式*/

.news2th .r_m .row2{border-top:solid 2px #000;}

.news2th .r_r{width:260px;}
.rpicnewstit{line-height:28px;font-size:14px;}/*第三列图片上标题样式*/
.rpicnewsp{width:120px;display:inline-block;line-height:22px;padding:10px 10px 0 0;font-size:12px;color:#999;font-family: "SimSun";}/*第三列图片右边描述文字样式*/
.news2th .r_r .row1{border-top:solid 2px #000;padding:0 0 15px 0;}
.news2th .r_r .row1 ul{padding:10px 0 0 0;}
.news2th .r_r .row1 li{line-height:24px;padding:0 0 0 14px;background:url(../images/liicon_03.png) no-repeat left center;}

.news2th .r_r .row2{border-top:solid 2px #000;padding:0 0 30px 0;}
.picnews_sp{display:block;position:relative;}
.picnews_sp:hover .picnewsmb{color:#FAFAFA;text-decoration:none;}

.fullSlide{width:100%;position:relative;height:170px;width:260px;background:#000;margin:15px 0 0 0;}
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul{width:100% !important;}
.fullSlide .bd li{width:100% !important;height:170px;overflow:hidden;text-align:center;}
.fullSlide .bd li a{display:block;height:170px;}
.fullSlide .hd{width:100%;position:absolute;z-index:1;bottom:-40px;left:0;height:30px;line-height:30px;}
.fullSlide .hd ul{text-align:center;}
.fullSlide .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:8px;height:8px;margin:1px;overflow:hidden;background:#ccc;line-height:999px;}
.fullSlide .hd ul .on{background:#0c3694;}
.fullSlide .prev,.fullSlide .next{display:block;position:absolute;z-index:1;top:50%;margin-top:-30px;left:0;z-index:1;width:40px;height:60px;background:url(../images/slider-arrow.png) -126px -137px #000 no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.fullSlide .next{left:auto;right:0;background-position:-6px -137px;}
.fullSlide .picnewsmb{height:26px;line-height:26px;}

.news2th .r_r .row3{border-top:solid 2px #000;}
.news2th .r_r .row3>a{display:block;line-height:36px;}
.news2th .r_r .row3 .city .fl{font-size:18px;}
.news2th .r_r .row3 .weather .weather_l{text-align:center;width:80px;border-right:solid 1px #ccc;}
.news2th .r_r .row3 .weather .weather_r p{font-size:60px;line-height:60px;} 
.news2th .r_r .row3 .weather .weather_r{padding:0 0 0 15px;}
.news2th .r_r .row3 a:hover{text-decoration:none;color:#333;}

.news3th .nav{height:40px;background:url(../images/navicon_03.png) no-repeat left top #1f3b7b;line-height:40px;color:#fff;}
.news3th .nav h3 a{font-size:24px;color:#fff;padding:0 0 0 20px;}
.news3th .nav span a{color:#fff;padding:0 10px;}
.news3th .nav>a{color:#fff;padding:0 10px 0 20px;}
.news3th .c_l{width:340px;}
.news3th_tit{padding:15px 0 0 0;height:30px;border-bottom:2px solid #000;line-height:30px;margin:0 0 10px 0;}
.news3th_tit_a{font-size:16px;color:#000;font-weight:bold;}
.news3th_tit_more{padding:0 10px 0 0;background:url(../images/moreicon_03.png) no-repeat right center;}

.fullSlide1{width:100%;position:relative;height:190px;width:340px;background:#000;margin:15px 0 0 0;}
.fullSlide1 .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide1 .bd ul{width:100% !important;}
.fullSlide1 .bd li{width:100% !important;height:190px;overflow:hidden;text-align:center;}
.fullSlide1 .bd li a{display:block;height:190px;}
.fullSlide1 .hd{width:100%;position:absolute;z-index:1;bottom:-40px;left:0;height:30px;line-height:30px;}
.fullSlide1 .hd ul{text-align:center;}
.fullSlide1 .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:8px;height:8px;margin:1px;overflow:hidden;background:#ccc;line-height:999px;}
.fullSlide1 .hd ul .on{background:#0c3694;}
.fullSlide1 .prev,.fullSlide1 .next{display:block;position:absolute;z-index:1;top:50%;margin-top:-30px;left:0;z-index:1;width:40px;height:60px;background:url(../images/slider-arrow.png) -126px -137px #000 no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.fullSlide1 .next{left:auto;right:0;background-position:-6px -137px;}
.fullSlide1 .picnewsmb{height:30px;line-height:30px;}
.news3th .c_l .row1{padding:0 0 15px 0;}

.news3th .c_l .row2 .row2_news span{width:100%;height:18px;line-height:18px;text-align:center;background:#000;filter:alpha(opacity=90);opacity:0.9;position:absolute;bottom:0;left:0;display:block;color:#ccc;}
.news3th .c_l .row2 .row2_news>a:hover span{color:#fff;}
.news3th .c_l .row2 .row2_news span:before{content:"";width:20px;height:20px;border:2px solid #b9b9b9;border-radius:100%;background:url(../images/play_11.png) no-repeat 8px center #2b2f32;position:absolute;bottom:30px;left:5px;}
.news3th .c_l .row2 .row2_news>a:hover span:before{border-color:#fff;}
.news3th .c_l .row2 .row2_news>a{position:relative;}
.news3th .c_l .row2 ul{padding:15px 0;}
.news3th .c_l .row2 ul li{line-height:26px;padding:0 0 0 14px;background:url(../images/liicon_03.png) no-repeat left center;}

.news3th .c_m{width:360px;padding:0 0 0 20px;}
.news3th .c_m ul{padding:10px 0;border-bottom:dotted 1px #ccc;}
.news3th .c_m ul li{line-height:24px;padding:0 0 0 14px;background:url(../images/liicon_03.png) no-repeat left center;}
.news3th .c_m ul li a{font-size:14px;color:#264794;}
.news3th .c_m ul li span{color:#b9c8e9;}
.news3th .c_m ul li a:hover{color:#800000;}
.news3th .c_m ul:last-child{border-bottom:none;}

.news3th .c_r{width:260px;height:500px;background:#f6f6f6;margin:15px 0 0 0;}
.news3th .c_r h5{height:34px;background:url(../images/line2_11.png) no-repeat center bottom;line-height:34px;}
.news3th .c_r h5 a{font-size:14px;font-weight:bold;padding:0 0 0 10px;}
.news3th .c_r .choose a{display:inline-block;color:#666;width:37px;height:20px;border:solid 1px #ccc;line-height:20px;text-align:center;margin:10px 2px 10px 2px;}
.news3th .c_r .choose a:hover{color:#000;border-color:#000;text-decoration:none;}
.xqhover{color:#000;border-color:#000;text-decoration:none;}
.news3th .c_r ul li{line-height:24px;padding:0 0 0 10px;background:url(../images/liicon_03.png) no-repeat 2px center;}
.news3th .c_r ul li a{font-family:"SimSun";color:#666;}
.news3th .c_r .row1 ul li{background:none;}

.hzmt{position:relative;margin:16px 0;height:180px;}
.hzmt .inner{width:998px;border:#c2d4e8 solid 1px;padding:20px 30px;color:#666;position:absolute;left:0;top:16px;z-index:998;}
.hzmt .inner a{color:#666;line-height:28px;padding:0 4px;}
.hzmt h3{display:inline-block;width:200px;line-height:32px;font-size:18px;text-align:center;border-left:#c2d4e8 solid 1px;border-right:#c2d4e8 solid 1px;background:#fff;position:absolute;left:400px;top:0;z-index:999;}

.footer{text-align:center;font-size:12px;color:#666;line-height:24px;}
.footer a{font-size:12px;color:#666;}
.footer p{font-size:12px;color:#666;}

